@charset "utf-8";
/* CSS Document */
.li_5{
	background: url("../img/bt_bghover.png") no-repeat!important;
}
.li_5{
	font-size: 28px!important;
	color: #fff!important;
}
#main{
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}
.chunk_r img{
	width: 500px;
}