@charset "utf-8";
/* CSS Document */

/*动态样式*/
#dynamic{
	margin-top: 60px;
}
.chunk_1{
	padding: 20px;
	margin-top: 50px;
	overflow: hidden;
	background-color: #fff;
	position: relative;
}
.chunk_l{
	float: left;
}
.chunk_r{
	margin-left: 140px;
	cursor: pointer;
}
.chunk_r a{
	font-size: 30px;
	font-weight: 550;
	color: #ff7c78;
	display: block;
}
.chunk_r p{
	font-size: 25px;
	color: #a0a0a0;
	padding: 20px 0;
}
.chunk_r a:hover{
	color: #ff7c78;
	text-decoration: underline;
}
#dynamic ul{
	float: right;
	margin: 40px 20px 0 0;
}
#dynamic ul li{
	margin-left: 50px;
}
#dynamic ul li img:hover{
	transform: scale(1.05);
}
#dynamic hr{
	margin-top: 80px;
}





