@charset "utf-8";
/* CSS Document */
body{
	font-family: kaiti;
	background: url("../img/bg.jpg") repeat;
}
ul li{
	list-style: none;
	float: left;
}
*{
	margin: 0;
	padding: 0;
}
#top{
	height: 45px;
	background: url("../img/head_bg.png") repeat-x;
}
.top_box{
	width: 1000px;
	margin: 0 auto;
}

#top marquee,#top a{
	font-size: 25px;
	color: #fff;
	line-height: 40px;
}
#top a{
	float: right;
	text-decoration: none;
}
#top a:hover{
	transform: scale(1.10);
}
#main{
	width: 1000px;
	margin: 50px auto;
}
.title{
	height: 55px;
	border-bottom: 2px solid #ff726d;
}
.title a{
	font-size: 22px;
	font-weight: 550;
	color: #ff726d;
	float: right;
	margin-top: 25px;
	text-decoration: none;
}
.title a:hover{
	transform: scale(1.10);
	text-decoration: underline;
}
.title img{
	float: left
}
.title span{
	font-size: 30px;
	color: #ff726d;
	font-weight: 600;
	line-height: 68px;
	padding-left: 10px;
}
.title span{
	font-size: 30px;
	color: #ff726d;
	font-weight: 600;
	line-height: 68px;
	padding-left: 10px;
}
.dog_box ul{
	width: 1050px;
	overflow: hidden;
	margin-top: 40px;
}
.dog_box ul li{
	margin-right: 50px;
}

.dog_box ul li div{
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
}
.dog_box ul li p{
	font-size: 25px;
	color: #6e6e6e;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}
.dog_box ul img:hover{
	transform: scale(1.20);
	transition-duration: 0.8s;
}
.dog_box ul li p:hover{
	color: #ff7c78;
}
#foot{
	height: 130px;
	margin-top: 50px;
	background: url("../img/footbg.png") repeat-x;
}
#foot p{
	font-size: 28px;
	color: #fff;
	padding-top: 78px;
	text-align: center;
}