@charset "utf-8";
/* CSS Document */
.li_4{
	background: url("../img/bt_bghover.png") no-repeat!important;
}
.li_4{
	font-size: 28px!important;
	color: #fff!important;
}
#main{
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

#box{
	margin-top: 50px;
}

.l{
	float: left;
}
.box_chunk{
	margin-top: 30px;
}
.chunk{
	overflow: hidden;
	margin-bottom: 50px;
}
.chunk_r{
	width: 700px;
	height: 230px;
	float: right;
	margin-top: 20px;
}
.chunk_r a{
	color: #ff7c78;
	text-decoration: none;
}
.chunk_p1,.chunk_p2,.chunk_p3{
	margin-bottom: 25px;
}
.chunk_p1{
	font-size: 35px;
	display: block;
}
.chunk_p2,.chunk_p3{
	font-size: 30px;
	color: #a0a0a0;
}
.chunk_p4{
	font-size: 20px;
	color: #a0a0a0;
	float: right;
	margin-top: 20px;
}
.chunk img:hover{
	transform: scale(1.05);
	transition-duration: 0.3s;
}
.chunk_r a:hover{
	text-decoration: underline;
}





































